$open-stack = "Fira Sans OT", "Helvetica Neue", Arial, sans-serif;

@font-face {
    src: local('Fira Sans OT Light Regular'),
         local('Fira Sans Light Regular'),
         local('Fira Sans OT Light'),
         local('Fira Sans Light'),
         local('Fira Sans OT'),
         local('Fira Sans'),
         url($mp-fonts-path + '/fonts/FiraSans/firasansot-light-webfont.woff') format('woff'),
         url($mp-fonts-path + '/fonts/FiraSans/firasansot-light-webfont.ttf') format('truetype'),
         url($mp-fonts-path + '/fonts/FiraSans/firasansot-light-webfont.svg#fira_sans_otlight') format('svg');
    font-family: 'FiraSans';
    font-weight: 300;
}

@font-face {
    src: local('Fira Sans OT Regular'),
         local('Fira Sans Regular'),
         local('Fira Sans OT'),
         local('Fira Sans'),
         url($mp-fonts-path + '/fonts/FiraSans/firasansot-regular-webfont.woff') format('woff'),
         url($mp-fonts-path + '/fonts/FiraSans/firasansot-regular-webfont.ttf') format('truetype'),
         url($mp-fonts-path + '/fonts/FiraSans/firasansot-regular-webfont.svg#fira_sans_otregular') format('svg');
    font-family: 'Fira Sans';
    font-weight: 400;
}

@font-face {
    src: local('Fira Sans OT Medium Regular'),
         local('Fira Sans Medium Regular'),
         local('Fira Sans OT Medium'),
         local('Fira Sans Medium'),
         local('Fira Sans OT'),
         local('Fira Sans'),
         url($mp-fonts-path + '/fonts/FiraSans/firasansot-medium-webfont.woff') format('woff'),
         url($mp-fonts-path + '/fonts/FiraSans/firasansot-medium-webfont.ttf') format('truetype'),
         url($mp-fonts-path + '/fonts/FiraSans/firasansot-medium-webfont.svg#fira_sans_otregular') format('svg');
    font-family: 'Fira Sans';
    font-weight: 500;
}

@font-face {
    src: local('Fira Sans OT Bold'),
         local('Fira Sans Bold'),
         local('Fira Sans OT'),
         local('Fira Sans'),
         url($mp-fonts-path + '/fonts/FiraSans/firasansot-bold-webfont.woff') format('woff'),
         url($mp-fonts-path + '/fonts/FiraSans/firasansot-bold-webfont.ttf') format('truetype'),
         url($mp-fonts-path + '/fonts/FiraSans/firasansot-bold-webfont.svg#fira_sans_otbold') format('svg');
    font-family: 'Fira Sans';
    font-weight: 600;
}
